<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logs/app.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/app.log.%d{yyyy-MM-dd}</fileNamePattern>
    </rollingPolicy>
  </appender>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.kevin" level="ALL" />
  <root level="WARN">
    <appender-ref ref="FILE"/>
     <appender-ref ref="CONSOLE"/> 
  </root>
  <root level="WARN">
    <appender-ref ref="FILE"/>
     <appender-ref ref="CONSOLE"/> 
  </root>
</configuration>